.main {
  margin: 15px;
}

.main .comment {
  width: 60%;
  margin: auto;
  display: block;
  overflow: auto;
}
.comment .review__see {
  clear: both;
  display: block;
  overflow: auto;
  margin-top: 30px;
}
.comment .review__see .cmt {
  display: block;
  overflow: auto;
  text-align: left;
  margin-top: 20px;
}
.comment .review__see .cmt__title .title,
.review__write .title {
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
}
.comment .review__see .cmt__title .fa-star {
  color: gray;
}
.comment .review__see .cmt__title .checked,
.fa-star-o {
  color: orange;
}
.comment .review__see .cmt__content .mul {
  float: left;
  margin-right: 5px;
}
.comment .review__see .cmt__content img {
  width: 130px;
  height: 170px;
}
.comment .review__see .cmt__date {
  clear: both;
  color: gray;
  font-size: 15px;
  padding-top: 5px;
}
.comment .review__see .cmt__vote {
  margin-bottom: 10px;
}
.comment .review__see .cmt__vote span {
  font-size: 18px;
  margin-right: 20px;
}
.comment .review__write {
  text-align: left;
}
.comment .review__write form {
  margin-top: 20px;
}
.comment .review__write input[type='text'],
textarea {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid black;
}
.comment .review__write textarea {
  width: 100%;
  height: 150px;
}
.comment .review__write .submit {
  padding: 15px 25px;
  border: 1px solid black;
  outline: none;
  font-size: 15px;
  background-color: white;
}
.comment .review__write .submit:hover {
  background-color: #333;
  color: white;
}
.pr-20 {
  padding-right: 20px;
}
