/*main*/
/*col left*/
/* Fixed sidenav, full height */
.main .col-left .sidenav {
  float: left;
  height: 100%;
  width: 270px;
  background-color: white;
  color: black;
  overflow-x: hidden;
  margin-left: 15px;
}

/* Style the sidenav links and the dropdown button */
.main .col-left .sidenav__item {
  padding: 15px 10px;
  border: 1px solid rgb(235, 235, 235);
}
.main .col-left .sidenav__item:hover {
  border: 1px solid black;
}
.main .col-left .sidenav__item a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: black;
}
.main .col-left .sidenav__item .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}
/* On mouse-over */
.main .col-left .sidenav__item .dropdown-container a:hover {
  color: red;
}
/* .active {
  color: red;
} */

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.main .col-left .sidenav__item .dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.main .col-left .sidenav__item .fa-plus {
  float: right;
  padding-right: 8px;
  font-weight: lighter;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*checkbox language*/
.sidenav__item .dropdown-container .box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  padding-top: 5px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.sidenav__item .dropdown-container .box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

/* Create a custom checkbox */
.sidenav__item .dropdown-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.sidenav__item .dropdown-container .box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.sidenav__item .dropdown-container .box input:checked ~ .checkmark {
  background-color: rgb(255, 58, 58);
}

/* Create the checkmark/indicator (hidden when not checked) */
.sidenav__item .dropdown-container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.sidenav__item .dropdown-container .box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.sidenav__item .dropdown-container .box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*input search author*/
.sidenav__item .dropdown-container .input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 15px;
}

.sidenav__item .dropdown-container .input-container .icon {
  padding: 5px;
  padding-top: 8px;
  background: #333;
  color: white;
  width: 30px;
  text-align: center;
}

.sidenav__item .dropdown-container .input-container .search-author {
  width: 150px;
  font-size: 15px;
  padding: 5px;
  outline: none;
}

.sidenav__item .dropdown-container .input-container .search-author:focus {
  border: 2px solid #333;
}

/*bestselling book*/
.link-none {
  text-decoration: none;
  color: black;
}
.link-none-author {
  text-decoration: none;
  color: gray;
}
.main {
  display: block;
  overflow: auto;
  clear: both;
  background-color: white;
}
.main .col-right {
  display: block;
  overflow: auto;
  background-color: white;
}
.main__card {
  display: block;
  overflow: auto;
  margin-bottom: 50px;
  background-color: white;
}
.main__card .row {
  display: block;
  overflow: auto;
  margin-left: 12px;
  clear: both;
}
.main__card .head {
  display: block;
  overflow: auto;
  margin: 15px;
}
.main__card .head__view-more {
  margin-right: 15px;
  font-weight: lighter;
  font-size: 18px;
  float: right;
}
.main__card .head__view-more a {
  text-decoration: none;
  color: black;
}
.main__card .head__title {
  margin-left: 10px;
  float: left;
}
/*sản phẩm mỗi hàng*/
.main__card .row__product {
  width: 240px;
  background-color: white;
  float: left;
  border: 1px solid rgb(235, 235, 235);
}
.main__card .row__product:hover {
  border: 1px solid black;
}
.main__card .row__product .book-image {
  margin-top: 15px;
  margin-left: 62px;
}
.main__card .row__product .book-image img {
  max-width: 180px;
  height: 200px;
}
.main__card .row__product .book-info,
.main__card .row__product .book-add {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.main__card .row__product .book-info__format {
  font-size: 12px;
  color: red;
}
.main__card .row__product .book-info__name {
  font-weight: bold;
  font-size: 20px;
}
.main__card .row__product .book-info__author {
  font-size: 12px;
  color: gray;
}
.main__card .row__product .book-add_add {
  float: left;
  margin-top: 10px;
}
.main__card .row__product .book-add a {
  text-decoration: none;
  color: #262626;
  font-weight: bold;
}
.main__card .row__product .book-add .fa-heart-o {
  float: right;
  margin-right: 30px;
  color: rgb(255, 30, 68);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 15px;
}
.main__card .row__product .book-add a:hover {
  color: red;
}
.main__card .row__product .book-add i:hover {
  background-color: rgb(255, 30, 68);
  color: white;
}
/*filter*/
.main__card .head__left {
  float: left;
}
.main__card .head__right {
  display: block;
  overflow: auto;
  float: right;
  margin-right: 15px;
}
.display .active-display {
  color: black;
}
.main__card .head__right .display,
.main__card .head__right .display__list,
.main__card .head__right .display__gallery {
  float: right;
}
.main__card .head__right .display__list,
.main__card .head__right .display__gallery {
  border: 1px solid #ddd;
  padding: 6px;
  color: #adadad;
}
.main__card .head__right .display__list .fa-list,
.main__card .head__right .display__gallery .fa-th {
  font-size: 25px;
}
.main__card .head__right .filter-sort {
  padding: 10px;
  width: 180px;
  margin-right: 10px;
  border: 1px solid #ddd;
}

/*next page*/
.main .col-right .next-page {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
.main .col-right .next-page .page {
  font-size: 15px;
  padding: 10px 15px;
  margin: 3px;
  border: 1px solid #ddd;
  background-color: white;
}
.main .col-right .next-page .page:hover {
  background-color: #555;
  color: white;
}
